@import "tailwindcss";

@theme {
  --color-primary-50: #ecfdf5;
  --color-primary-100: #d1fae5;
  --color-primary: #10b981;
  --color-primary-600: #059669;
  --color-primary-700: #047857;
  --color-secondary: #000000;

  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-manrope), sans-serif;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100vh;
  margin: 0;
}
